
.fancy_insert {
  right: 20px;
  margin-right: 15px;
  position: fixed;
  top: 20px;
  width: 340px;
  z-index: 200;
  background: #FFF;
  padding: 2px 0 0 8px;
  border: 1px solid #CCC;
  -moz-box-shadow: 2px 2px #CCC;
  -webkit-box-shadow: 2px 2px #CCC;
  box-shadow: 2px 2px #CCC;
}

.fancy_insert .widget-preview {
  border: none;
}

.fancy_insert .image-widget-data .file-icon,
.fancy_insert .image-widget-data .file-size,
.fancy_insert .form-type-managed-file,
.fancy_insert .tabledrag-toggle-weight,
.fancy_insert .tabledrag-handle,
.fancy_insert .content-add-more,
.fancy_insert thead,
.fancy_insert .widget-edit * {
  display:none;
}

.fancy_insert .filefield-element .imagefield-preview {
  height: 70px;
  min-height: 70px;
  overflow: hidden;
}

.fancy_insert .filefield-element {
  margin: 0px 0px 10px 0px;
}

.fancy_insert tr,
.fancy_insert td {
  width: 110px;
  float: left;
}

.fancy_insert table * {
  padding: 0px;
  border-style: hidden !important;
  background: #FFF;
}

